#footer {
  text-align: center;
  padding: 30px;
  background: rgb(30, 30, 30);
  color: white;
  margin-top: 20px;
}

#footer a {
  color: pink;
  font-size: 15px;
}

#footer a:hover {
  color:white;
}
